
  body{
    background-image: url('img/FundoServicos6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
  }
  h2 {
    color: #fff;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-top: 15px;
  }
  input, textarea {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    margin-top: 20px;
    background-color:  #FFA733;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1.5s;
  }

  button:hover{
    background-color: #ef8c0b;
    color: #044075;
  }
  
  .contato-info {
    margin-top: 40px;
  }
  .whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #25d366;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
  }

  .whatsapp-button:hover {
    background-color: #10a647;
  }

  @media (max-width: 1250px) {
  .contato-info {
    margin: 10 auto;
    text-align: center;
  }

  .whatsapp-button {
    margin: 50px;
  }

  }