  
    
  /* Conteúdo principal */
  body{
    background-image: url('../img/reuniao.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .card1 {
    margin-top: 200px;
  }

  .container {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .cor {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    color: #0a487f;
  }
  
  .container h2 {
    color: #0a487f;
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
  }
  
  .container p {
    font-size: 16px;
    line-height: 1.6;
    color:  #333;
  }
  
  .container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    color: #333;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .card1 {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 5px 30px 20px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .card ul li {
    font-size: 14px; /* diminui o tamanho da letra */
    margin-bottom: 12px; /* aumenta o espaçamento entre os itens */
    line-height: 1.5; /* melhora a legibilidade */
  }
  
  .card .letra {
    font-size: 13px; /* diminui o tamanho da letra */
    margin-bottom: 15px; /* aumenta o espaçamento entre os itens */
    line-height: 0.99; /* melhora a legibilidade */
  }
  
  .card .letra2 {
    text-align: justify;
    font-size: 14px; /* diminui o tamanho da letra */
    margin-bottom: 12px; /* aumenta o espaçamento entre os itens */
    line-height: 1.5; /* melhora a legibilidade */
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto 5px;
  }
  
  .card3 {
    color: white;
    background-color: #FFA733;
    border-radius: 12px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.308);
    margin-bottom: 40px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease;
    
  }

  .card3:hover {
    transform: translateY(-20px);
  }


  /* Card formulario */
  .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 5px 15px 20px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px); /* 3 colunas com espaçamento */
    box-sizing: border-box;
    min-width: 20px; /* garante legibilidade em telas pequenas */
  }

  /* Formulário */
  .form-rep {
    background-color: rgba(255, 255, 255, 0.933);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  .form-rep h2 {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    color: #0a487f;
    text-align: center;
  }
  
  .form-rep p {
    text-align: center;
    margin-bottom: 25px;
    color: #555;
    font-size: 15px;
  }
  
  .form-rep label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
  }
  
  .form-rep input,
  .form-rep textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
  }
  
  .form-rep button {
    background-color: rgb(20, 96, 162);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .form-rep button:hover {
    background-color: #054d84;
  }
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
    }
  
    .card {
      flex: 1 1 100%;
    }
  }

  @media (max-width: 768px) {
    body {
      background-position: top center;
      background-attachment: scroll;
    }
  }
